<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.how2java.mapper.EmployeeMapper">
	    <insert id="add" parameterType="com.how2java.pojo.Employee" >
	        insert into employee 
	        values (#{strName},
	        		#{strDepartment},
	        		#{strStation},
	        		#{strPhoneNum},
	        		#{strUniversity},
	        		#{strMajor},
	        		#{strEducation},
	        		#{strGraduationTime},
	        		#{strEntryTime},
	        		#{strPositiveTime},
	        		#{strStatus},
	        		#{strSeparationTime}
	        	)    
	    </insert>
	    
	        
	</mapper>

